* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.app {
  min-height: 100%;
  background-image: url("./assets/cold.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: all 0.5s ease-out;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-bar {
  margin-left: 25%;
  width: 50%;
  padding: 15px;
  border-width: 0.35vh;
  border-color: rgb(255, 255, 255);
  outline: none;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-size: large;
}

@media (max-width: 600px) {
  .search-bar {
    width: 90%;
    margin-left: 20px;
  }
}

.search-bar:focus {
  box-shadow: none;
}

.search-bar::placeholder {
  color: rgb(70, 68, 68);
}

.app.rain {
  background-image: url("./assets/rainy.jpg");
  background-position: -455px center;
}

.app.haze {
  background-image: url("/src/assets/Haze.jpg");
}

.app.cloud {
  background-image: url("/src/assets/Cloud.jpg");
}

.app.clear {
  background-image: url("/src/assets/clear.jpg");
}

.app.mist {
  background-image: url("/src/assets/mist.jpg");
}
